*{
    margin: 0px;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #FA8072;
    z-index: 100;
}


/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: whitesmoke;
    background-color: black;
}

#form{
    position: relative;
    background-color: #87433c;
    border: black 2px solid;
}
#form::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.20;
    background: url('templates/bg.jpg') no-repeat center center/cover;

}
#form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    padding-top: 50px;
    margin: 5px;
    
}
#form-box input, 
#form-box textarea{
    width: 95%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 17px;
    border-color: black;
    border: 10px;
} 

#form-box form{
    width: 40%;
    border: black 1px solid;
    padding: 10px;
}

#form-box label{
   font-size: 17px;
   font-family: 'Bree Serif', serif;

}
.btn{
    font-size: 17px;
    color: black;
    background-color: #87433c;
    font-family: 'Bree Serif', serif;
    border: none;
    margin: 5px;
    padding: 3px;
}
.btn:hover{
    font-size: 17px;
    color: whitesmoke;
    background-color: #870909d4;
    font-family: 'Bree Serif', serif;
}

@media screen and (max-width: 600px) {

    *{
    margin: 0px;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: block;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #FA8072;
    z-index: 100;
}
#navbar ul li{ 
    list-style: none;
    font-size: 11px;
}
#form-box form{
    width: 40%;
    border: black 1px solid;
    padding: 20px;
}
#form-box label{
    font-size: 15px;
    font-family: 'Bree Serif', serif;
 
 }
 #form-box input, 
#form-box textarea{
    width: 90%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 15px;
    border-color: black;
    border: 10px;
} 
.btn{
    font-size: 15px;
    color: black;
    background-color: #87433c;
    font-family: 'Bree Serif', serif;
    border: none;
    margin: 5px;
    padding: 3px;
}
.btn:hover{
    font-size: 15px;
    color: whitesmoke;
    background-color: #870909d4;
    font-family: 'Bree Serif', serif;
}

}